<div class="p-2">
    <form class="formIndex row d-flex align-items-center m-0 input-group mb-3" ng-submit="changeSearchText(data.searchText)">
        <input class="form-control" name="limitElInPage" type="text" aria-describedby="button-search" ng-model="data.searchText">
        <div class="input-group-prepend">
            <button class="btn btn-primary" type="submit" id="button-search">Поиск</button>
        </div>
    </form>
    <div ng-include="'./src/components/listGames/limitElInPage.html'"></div>
    <div ng-include="'./src/components/listGames/sortElInPage.html'"></div>
    <br/>
    <h3 ng-if="checkBookmarkLength() !== 0"><span class="mdi mdi-bookmark"></span>Избранное</h3>
    <div class="listGames row m-0">
        <div class="game w-25" ng-repeat="game in bookmark">
            <div ng-include="'./src/components/listGames/cardGame.html'"></div>
        </div>
        <br/>
    </div>
    <div class="listGames row m-0">
        <div class="game w-25" ng-repeat="game in db.games" ng-if="checkIfGameCard(game, $index)">
            <div ng-include="'./src/components/listGames/cardGame.html'"></div>
        </div>
    </div>
    <button class="btn btn-primary" ng-click="incrementLimit()">Загрузить ещё</button>
</div>