<div class="p-2" ng-controller="listController">
    <div ng-include="'./src/components/listGames/limitElInPage.html'"></div>
    <div ng-include="'./src/components/listGames/sortElInPage.html'"></div>
    <br/>
    <h3 ng-if="checkBookmarkLength() !== 0"><span class="mdi mdi-bookmark"></span>Избранное</h3>
    <div class="listGames row m-0">
        <div class="game w-25" ng-repeat="game in bookmark">
            <div ng-include="'./src/components/listGames/cardGame.html'"></div>
        </div>
        <br/>
    </div>
    <div class="listGames row m-0">
        <div class="game w-25" ng-repeat="game in db.games" ng-if="$index < limit">
            <div ng-include="'./src/components/listGames/cardGame.html'"></div>
        </div>
    </div>
</div>