<label for="limitElInPage">Количество элементов на странице</label>
    <form class="formIndex row d-flex align-items-center m-0 input-group mb-3" ng-submit="changeLimit(data.limit)">
            <input class="form-control col-1" name="limitElInPage" type="number" aria-describedby="button-apply-change-limit" ng-model="data.limit">
            <div class="input-group-prepend">
                <button class="btn btn-primary" type="submit" id="button-apply-change-limit">Изменить</button>
            </div>
    </form>